-e git+https://github.com/agoravoting/openstv.git@master#egg=openstv-1.7
-e git+https://github.com/agoravoting/agora-tally.git@master#egg=agora-tally-0.0.1
-e git+https://github.com/Julian/jsonschema.git@v2.5.1#egg=jsonschema-2.5.1